In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
%matplotlib inline
from configure import google_API_Key

In [2]:
import gmaps

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country.1,Date.1
0,0,Lodeynoye Pole,RU,2022-05-10 23:27:58,60.7260,33.5531,39.76,76,24,4.05,RU,2022-05-10 23:27:58
1,1,Fortuna,US,2022-05-10 23:27:59,40.5982,-124.1573,57.92,61,20,13.80,US,2022-05-10 23:27:59
2,2,Jamestown,US,2022-05-10 23:27:59,42.0970,-79.2353,76.64,12,0,0.00,US,2022-05-10 23:27:59
3,3,Chudniv,UA,2022-05-10 23:28:00,50.0520,28.1175,45.45,64,100,5.79,UA,2022-05-10 23:28:00
4,4,Rikitea,PF,2022-05-10 23:23:13,-23.1203,-134.9692,76.87,70,3,15.66,PF,2022-05-10 23:23:13

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country.1      object
Date.1         object
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_API_Key)

In [6]:
## Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [9]:
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
clouds = wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country.1,Date.1
2,2,Jamestown,US,2022-05-10 23:27:59,42.0970,-79.2353,76.64,12,0,0.00,US,2022-05-10 23:27:59
4,4,Rikitea,PF,2022-05-10 23:23:13,-23.1203,-134.9692,76.87,70,3,15.66,PF,2022-05-10 23:23:13
5,5,Hilo,US,2022-05-10 23:23:42,19.7297,-155.0900,82.27,77,75,13.80,US,2022-05-10 23:23:42
6,6,Vaini,TO,2022-05-10 23:23:15,-21.2000,-175.2000,80.76,61,20,8.05,TO,2022-05-10 23:23:15
7,7,Isangel,VU,2022-05-10 23:28:01,-19.5500,169.2667,82.51,65,75,6.91,VU,2022-05-10 23:28:01
14,14,Atuona,PF,2022-05-10 23:28:04,-9.8000,-139.0333,78.55,68,36,19.06,PF,2022-05-10 23:28:04
20,20,Dawei,MM,2022-05-10 23:28:07,14.0833,98.2000,77.74,90,81,2.51,MM,2022-05-10 23:28:07
29,29,Bandar-E Lengeh,IR,2022-05-10 23:28:12,26.5579,54.8807,79.79,59,0,4.36,IR,2022-05-10 23:28:12
33,33,Kutum,SD,2022-05-10 23:25:12,14.2000,24.6667,78.75,11,49,8.84,SD,2022-05-10 23:25:12
36,36,Hithadhoo,MV,2022-05-10 23:28:15,-0.6000,73.0833,83.53,76,100,16.64,MV,2022-05-10 23:28:15

In [15]:
preferred_cities_df.count()

City_ID       32
City          32
Country       32
Date          32
Lat           32
Lng           32
Max Temp      32
Humidity      32
Cloudiness    32
Wind Speed    32
Country.1     32
Date.1        32
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2         Jamestown      US     76.64  42.0970  -79.2353
4           Rikitea      PF     76.87 -23.1203 -134.9692
5              Hilo      US     82.27  19.7297 -155.0900
6             Vaini      TO     80.76 -21.2000 -175.2000
7           Isangel      VU     82.51 -19.5500  169.2667
14           Atuona      PF     78.55  -9.8000 -139.0333
20            Dawei      MM     77.74  14.0833   98.2000
29  Bandar-E Lengeh      IR     79.79  26.5579   54.8807
33            Kutum      SD     78.75  14.2000   24.6667
36        Hithadhoo      MV     83.53  -0.6000   73.0833

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_API_Key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

IndexError: list index out of range

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Jamestown,US,76.64,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,Rikitea,PF,76.87,-23.1203,-134.9692,People ThankYou
5,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
7,Isangel,VU,82.51,-19.5500,169.2667,Tanna Lodge
14,Atuona,PF,78.55,-9.8000,-139.0333,Villa Enata
20,Dawei,MM,77.74,14.0833,98.2000,Hotel Dawei
29,Bandar-E Lengeh,IR,79.79,26.5579,54.8807,کافی نت پارس
33,Kutum,SD,78.75,14.2000,24.6667,Dibbo areaمنطقة دبو
36,Hithadhoo,MV,83.53,-0.6000,73.0833,Scoop Guest House

In [20]:
# Add a heatmap of temperature for the vacation spots.
gmaps.configure(api_key=google_API_Key)
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
# Call the figure to plot the data.
fig

Hotel not found... skipping.

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
Marker=hotel_df[["Lat", "Lng"]]
#max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(Marker)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

AttributeError: module 'collections' has no attribute 'Iterable'

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [ ]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig