## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import google_API_Key

# Configure gmaps
gmaps.configure(api_key=google_API_Key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/adriennezane/Desktop/Data Bootcamp/World_Weather_Analysis/weather_data/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(15)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,Rikitea,PF,77.23,-23.1203,-134.9692,People ThankYou
1,9,Atuona,PF,77.92,-9.8000,-139.0333,Villa Enata
2,17,Albany,US,79.63,42.6001,-73.9662,NaN
3,22,Ponta Do Sol,PT,76.71,32.6667,-17.1000,Hotel do Campo
4,24,Hilo,US,75.27,19.7297,-155.0900,Hilo Hawaiian Hotel
5,30,Marzuq,YE,77.29,14.4000,46.4667,NaN
6,34,Bubaque,GW,79.83,11.2833,-15.8333,"Casa Dora, Bubaque"
7,39,Bethel,US,79.05,41.3712,-73.4140,Courtyard by Marriott Danbury
8,43,Tautira,PF,79.74,-17.7333,-149.1500,Pension Oaoa
9,53,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,57,Kieta,PG,78.94,-6.2167,155.6333,Uruna Bay Retreat
11,76,Arraial Do Cabo,BR,78.66,-22.9661,-42.0278,Pousada Porto Praia
12,92,Dingle,PH,77.13,10.9995,122.6711,SEGAYA PROPERTY
13,97,Bulungu,CD,78.10,-4.5500,18.6000,NaN
14,115,Kerema,PG,76.55,-7.9631,145.7785,Frena Lodge

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:

# 11a. Add a marker layer for each city to the map. 
locations = vacation_df[["Lat", "Lng"]]
Marker= vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig=gmaps.figure()
fig.add_layer(marker_layer)
fig




# 11a. Add a marker layer for each city to the map. 
#locations = hotel_df[["Lat", "Lng"]]
#Marker=hotel_df[["Lat", "Lng"]]
#max_temp = hotel_df["Max Temp"]
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
#fig=gmaps.figure()
#fig.add_layer(marker_layer)
#fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.tail(20)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
66,528,Sabha,LY,79.52,27.0377,14.4283,Foundation Taaj Asala for Historical Research ...
67,537,Griffith,US,79.47,41.5284,-87.4237,Apartment above Depot Bar
68,538,Yenagoa,NG,79.50,4.9247,6.2642,Aridolf Resort Wellness and Spa
69,541,Shelburne,CA,78.12,44.0787,-80.2041,The Retreat at the Farm
70,544,Luanda,AO,76.82,-8.8368,13.2343,EPIC SANA Luanda
71,554,Sumbe,AO,76.30,-11.2061,13.8437,Hotel Ritz Sumbe
72,580,Fare,PF,79.63,-16.7000,-151.0167,Maitai Lapita Village Huahine
73,581,Salinas,US,78.57,36.6777,-121.6555,Laurel Inn & Conference Center
74,608,Belmonte,BR,75.90,-15.8631,-38.8828,Pousada Monte Carmelo O PÃ£o
75,609,Grafton,US,76.32,42.2070,-71.6856,The Grafton Inn
76,620,Bintulu,MY,77.41,3.1667,113.0333,900 Boutique INN
77,622,Tarrega,ES,77.32,41.6470,1.1396,Hotel Ciutat de TÃ rrega
78,633,Kirakira,SB,78.13,-10.4544,161.9205,SanBiz Lodge
79,636,Gamba,GA,78.06,-2.6500,10.0000,NaN
80,638,Buala,SB,78.98,-8.1450,159.5921,Maringe Lagoon Lodge
81,652,Muisne,EC,79.59,0.6000,-80.0333,Quinta Samay
82,662,Gazanjyk,TM,79.21,39.2446,55.5154,Railway motel
83,666,Lancaster,US,76.86,40.2504,-76.2499,Refreshing Mountain Retreat and Adventure Center
84,683,Biak,ID,76.96,-0.9131,122.8766,Penginapan Kim
85,707,Turkmenabat,TM,75.18,39.0733,63.5786,"ÐÐ¾ÑÑÐ¸Ð½Ð¸ÑÐ° ""Yupek Yoly"" (Ð¨ÐµÐ»ÐºÐ¾Ð²ÑÐ¹ Ð¿ÑÑÑ)"

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
#Hotel Ritz Sumbe, EPIC SANA Luanda, Hotel Mpampa, Residence Okanda
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["Hotel Name"] =="Hotel Ritz Sumbe"]                             
vacation_end = vacation_df.loc[vacation_df["Hotel Name"] =="Hotel Ritz Sumbe"] 
vacation_stop1 = vacation_df.loc[vacation_df['Hotel Name']=='EPIC SANA Luanda']
vacation_stop2 = vacation_df.loc[vacation_df['Hotel Name']=='Hotel Mpampa'] 
vacation_stop3 = vacation_df.loc[vacation_df['Hotel Name']=='RÃ©sidence Okanda'] 
vacation_stop3

    City_ID   City Country  Max Temp   Lat    Lng        Hotel Name
57      427  Kindu      CD     79.48 -2.95  25.95  RÃ©sidence Okanda

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [17]:
requests.__version__

'2.27.1'

In [20]:
#import json
#import os
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Directions_Hotels = gmaps.directions_layer(
       start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(Directions_Hotels)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
import json

fig = gmaps.figure()
Start_End = gmaps.directions_layer(
    Start1,End1)
    #travel_mode='BICYCLING')
fig.add_layer(Start_End)
fig

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

   City_ID    City Country  Max Temp      Lat      Lng        Hotel Name
0      554   Sumbe      AO     76.30 -11.2061  13.8437  Hotel Ritz Sumbe
1      544  Luanda      AO     76.82  -8.8368  13.2343  EPIC SANA Luanda
2      385    Soyo      AO     78.76  -6.1349  12.3689      Hotel Mpampa
3      427   Kindu      CD     79.48  -2.9500  25.9500  RÃ©sidence Okanda

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
Marker=itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig=gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))